.footer-section{
    display: flex;
    justify-content: space-around;
    color: white;
}

.footer-section-element{
    height: 200px;
    width: 40%;
    padding: 20px;
}

.box1{
    background-color: yellow;
}

.box2{
    background-color: maroon;
}

.footer-section-heading{
    font-size: 45px;
}

@media only screen and (min-width: 700px) and (max-width: 786px){
    .footer-section{
        flex-direction: column;
    }

    .footer-section-element{
        width: 80%;
    }
}